* {
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #111d2c;
}

h1 {
    text-align: center;
    padding: 100px 0;
}

.container {
    text-align: center;
}

.reference {
    background-color: #1f2a40; 
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px; 
    text-align: left;
}

.reference h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.reference p {
    margin: 5px 0;
}

.reference a {
    color: #00aaff; 
}

.button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #111d2c;
    background-color: #fff;
    border: 2px solid #111d2c;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #111d2c;
    color: #fff;
}

@media (max-width: 767px) {
    h1 {
        font-size: 24px; 
        padding: 60px 0; 
    }

    .reference {
        padding: 15px; 
        margin: 15px auto; 
    }

    .reference h2 {
        font-size: 20px; 
    }

    .reference p {
        font-size: 14px; 
    }

    .button {
        width: 150px; 
        padding: 8px 15px; 
        font-size: 14px; 
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 32px; 
        padding: 80px 0; 
    }

    .reference {
        padding: 20px; 
        margin: 20px auto; 
    }

    .reference h2 {
        font-size: 22px; 
    }

    .reference p {
        font-size: 16px; 
    }

    .button {
        width: 180px; 
        padding: 10px 20px; 
        font-size: 15px; 
    }
}


@media (min-width: 1025px) {
    h1 {
        padding: 100px 0; 
    }

    .reference {
        padding: 20px;
        margin: 20px auto; 
    }

    .reference h2 {
        font-size: 24px; 
    }

    .reference p {
        font-size: 16px; 
    }

    .button {
        width: 200px; 
        padding: 10px 20px; 
        font-size: 16px; 
    }
}
